html {
  display: flex;
  justify-content: center;
  background-color: #363738;
}

body {
  color: #ffffff;
  font-family:-apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}

a {
  color:#6faeed;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}
